.activity-item {
  text-align: center;
  padding: 30px 40px;
  margin: 0 0 10px;

  h3 {
    &:not(:last-child) {
      margin: 0 0 20px;
    }
  }

  .image-block {
    margin: 0 0 33px;
    min-height: 50px;
    height: 100%;

    img {
      max-width: 50px;
    }
  }

  .description-block {
    color: $black;
  }
}

@include media('<tablet') {
  .activity-item {
    padding: 25px 30px;

    .image-block {
      margin: 0 0 30px;
    }
  }
}